<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Task 1</title>

    <style>
      img {
        width: 320px;
        height: 150px;
      }

      img:hover {
        box-shadow: 0 0 1px 1px #ccc;
        opacity: 0.6;
      }

      .row {
        display: flex;
      }

      .column {
        flex: 16.66%;
        padding: 0px;
      }

    </style>

  </head>
  <body>

<div class="row">
  <div class="column">

    <img src="/images/Shell_service_station.jpg" style="width:100%;cursor:zoom-in"
    onclick="onClick(this)">


  </div>
  <div class="column">

    <img src="/images/Wooden_house.jpg" style="width:100%;cursor:zoom-in"
    onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/randy_donuts.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Catedral_de_Alejandro_Nevsky.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Istana_Kampong_Glam.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Basilica_of_BomJesus.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
</div>

<div class="row">
  <div class="column">

    <img src="/images/Lucy_from_the_front.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

    <img src="/images/Massachusetts_State_House.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Palais_des_Beaux_Arts_Wien.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Sakkara_pyramid.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Danial.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Khagdarious.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
</div>

<div class="row">
  <div class="column">

    <img src="/images/Santa_Maria_degli_Scalzi.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

    <img src="/images/Rockdale_Hotel.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Great_Pyramid_of_Giza.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Karl-Borrom.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Kirche_am_Zentralfriedhof.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Venedig_Basilika_Santa_Maria_della_Salute.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
</div>

<div class="row">
  <div class="column">

    <img src="/images/Apadana_palace_persepolis.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

    <img src="/images/helsinki-by-RalfR.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Great_Sphinx_of_Giza.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Holy_Wisdom_Thessaloniki_as_Moslem_Temple.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Capnikarea_Church_at_Athens.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Ehemaliges_Arbeiterheim_Favoriten_Hotel_Favorita.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
</div>

<div class="row">
  <div class="column">

    <img src="/images/Knockbreda_Parish_Church.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

    <img src="/images/Beatrice.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Mistra.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Kungur_nicola.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Prokhorovs.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
  <div class="column">

      <img src="/images/Rastunovo.jpg" style="width:100%;cursor:zoom-in" onclick="onClick(this)">

  </div>
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">

  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>

  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:30%;height:50%">

    <table>
      <tr>
        This is <script>name(){

        }</script>
      </tr>
    </table>

  </div>
</div>
<script>

function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}

</script>
  </body>
</html>
